@import "/src/styles/colors.scss";

.collections {
  &Link {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  &Title {
    color: #fff;
    text-align: center;
    margin-top: 0.75em;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }

  &Grid {
    padding: 1em 10em 5em;
  }

  &Card {
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 50px;
    cursor: pointer;

    img {
      height: 80%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    &TextContainer {
      height: 25%;
      background-color: lighten($primary-color, 10%);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &Title {
      color: #fff;
      text-align: center;
      margin-top: 0.5em;
      margin-bottom: 0.5em;

      font-size: 1rem;
      font-weight: 300;
    }

    &Owner {
      color: #fff;
      font-weight: 300;

      &Name {
        color: $secondary-color;
      }
    }
  }
}

/* SINGLE COLLECTION */

.collection {
  &Link {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  &Title {
    color: #fff;
    text-align: center;
    margin-top: 0.75em;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }

  &Grid {
    padding: 1em 10em 5em;
  }

  &Card {
    height: 350px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 0 50px;
    cursor: pointer;

    img {
      height: 80%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }

    &ButtonContainer {
      display: flex;
      justify-content: center;
    }

    &Description {
      color: hsl(0, 0%, 80%);
      font-size: 0.9rem;
      font-weight: 300;
      margin-bottom: 0;
    }

    &Info,
    &InfoBottom {
      display: flex;
      justify-content: space-between;
    }

    &InfoBottom {
      margin-top: -0.75em;
    }

    &PriceValue {
      color: #fff;
      font-weight: 300;
      font-size: 1rem;
      display: flex;
      align-items: center;

      img {
        height: 20px;
        margin-right: 0.2em;
      }

      span {
        color: $secondary-color;
      }
    }

    &TextContainer {
      height: 30%;
      background-color: lighten($primary-color, 10%);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 0 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &Price {
      color: hsl(0, 0%, 90%);
      font-size: 1rem;
      font-weight: 400;
    }

    &Title {
      color: hsl(0, 0%, 90%);
      font-size: 1.05rem;
      font-weight: 400;
    }

    &Owner {
      color: #fff;
      font-weight: 300;

      &Name {
        color: $secondary-color;
      }
    }
  }
}
