@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "./colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  background-color: $primary-color !important;
  overflow-x: hidden;
}

/*
===============
ANTD SUBCLASSES
===============
*/

.ant-dropdown-menu-item {
  font-size: 0.95rem !important;
}

.ant-dropdown-menu-title-content {
  white-space: nowrap;
}

.ant-page-header {
  background-color: transparent !important;
}

.ant-page-header-heading-sub-title {
  margin-top: 0.3em;
  color: darken($secondary-color, 10%) !important;
}

.ant-col {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.ant-segmented-item {
  background-color: lighten($primary-color, 30%);
  color: #fff;

  transition: all 0.5s ease;
}

.ant-segmented-item-selected {
  background-color: $secondary-color !important;
  transition: all 0.5s ease;
}

.ant-btn {
  background-color: $secondary-color !important;
  font-size: 1.1rem !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 5px !important;
}

.ant-modal-title {
  font-weight: 400 !important;
}

.ant-notification-notice-description {
  margin-bottom: 0.5em;
}

.ant-notification-notice-btn {
  float: none !important;
  margin-left: 48px !important;
}
