@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "./colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  background-color: $primary-color !important;
}

/*
===============
ANTD SUBCLASSES
===============
*/

.ant-dropdown-menu-item {
  font-size: 0.95rem !important;
}

.ant-dropdown-menu-title-content {
  white-space: nowrap;
}

.ant-page-header {
  background-color: transparent !important;
}

.ant-page-header-heading-sub-title {
  margin-top: 0.3em;
  color: darken($secondary-color, 10%) !important;
}
