@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "./colors.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "sans-serif";
}

body {
  background-color: $primary-color !important;
  overflow-x: hidden;
}

/*
===============
ANTD SUBCLASSES
===============
*/

.ant-dropdown-menu-item {
  font-size: 0.95rem !important;
}

.ant-dropdown-menu-title-content {
  white-space: nowrap;
}

.ant-page-header {
  background-color: transparent !important;
}

.ant-page-header-heading-sub-title {
  margin-top: 0.3em;
  color: darken($secondary-color, 10%) !important;
}

.ant-col {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.ant-segmented-item {
  background-color: lighten($primary-color, 30%);
  color: #fff;

  transition: all 0.5s ease;
}

.ant-segmented-item-selected {
  background-color: $secondary-color !important;
  transition: all 0.5s ease;
}

.ant-btn {
  background-color: $secondary-color !important;
  font-size: 1.1rem !important;
  display: flex !important;
  align-items: center !important;
  border-radius: 5px !important;
}

.ant-modal-title {
  font-weight: 400 !important;
}

.ant-notification-notice-description {
  margin-bottom: 0.5em;
}

.ant-notification-notice-btn {
  float: none !important;
  margin-left: 48px !important;
}

.ant-avatar {
  overflow: visible !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: auto !important;
  height: auto !important;
  margin-right: 8px !important;

  img {
    height: 50px !important;
    width: 50px !important;
  }
}

.ant-result {
  margin-top: 4em !important;
}

.ant-result-title {
  color: $secondary-color !important;
  font-size: 1.8rem !important;
  font-weight: 300;
}

.ant-result-subtitle {
  color: $secondary-color !important;
  font-size: 1.2rem !important;
  font-weight: 300;
}

.ant-result-extra {
  display: flex !important;
  justify-content: center;
  margin-top: 2em !important;

  button {
    padding: 1em 0.7em !important;
    cursor: pointer;
    border: 2px solid $secondary-color;
    background-color: transparent !important;
    transition: all 0.3s ease !important;
    border-radius: 5px;

    a {
      color: $secondary-color !important;
      font-size: 1.1rem !important;

      transition: all 0.3s ease !important;

      &:hover {
        color: #fff !important;
      }
    }

    &:hover {
      background-color: $secondary-color !important;
    }
  }
}
