@import "/src/styles/colors.scss";

.header {
  height: 10vh;
  padding: 1em 1em;
  background-color: transparent;
}

.heading {
  color: $secondary-color;
  font-weight: 300;
  letter-spacing: 1px;
}

.headerList {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;

  li {
    margin: 0 1.5em;
    color: $secondary-color;
    transition: all 0.3s ease;

    &:hover {
      color: lighten($secondary-color, 15%);
    }
  }
}

.userLogo {
  font-size: 1.5rem;
  cursor: pointer;
}

.navChild {
  font-size: 1.1rem;
  cursor: pointer;
}

.connectWallet {
  color: $secondary-color;
  padding: 0.3em 0.8em;
  font-size: 1rem;
  cursor: pointer;
  border: 1.5px solid $secondary-color;
  background-color: transparent;
  transition: all 0.3s ease;
  border-radius: 5px;

  &:hover {
    background-color: $secondary-color;
    color: #fff;
  }
}
